/* 
    Sometimes I have images that I need to use as backhrounds, this is where the css lives.
*/

.duffel-bag
{
    background: url("../images/Slide_2.jpg") no-repeat center center;
    background-size: cover;
}

.man-jacket
{
    background: url("../images/home__tile-1_1024x1024.jpg")  no-repeat top center;
    background-size: cover;
}

.woman-white
{
    background: url("../images/home__tile-2_1024x1024.jpg") no-repeat top center;
    background-size: cover;
}